<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Contato via site Leia na Web</h1>
    <p>Nome: <%= @contact.name %></p>
    <p>Email: <%= @contact.email %></p>
    <p>Fone: <%= @contact.phone %></p>
    <p>Mensagem: <%= @contact.message %></p>
    <p>Deseja receber emails: <%= @contact.opt_in %></p>
  </body>
</html>