<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :message %>
    <%= f.text_field :message %>
  </div>
  <label class="checkbox">
    <%= f.check_box :opt_in %> <%= translate('labels.opt_in') %>
  </label>
  <div class="actions">
    <%= f.submit translate('labels.send'), :class => 'btn btn-primary' %>
  </div>
<% end %>
