<h1><%= translate('labels.make_contact')%></h1>

<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>
<%= form_for(@contact, :url => contact_us_path, :html => { :class => "edit_post"}) do |f| %>
  <% if @contact.errors.any? %>
    <div class="alert alert-error">
      <% @contact.errors.full_messages.each do |msg| %>
        <p class="text-error"><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'input-xxlarge' %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :class => 'input-xxlarge' %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, :class => 'input-xxlarge' %>
  </div>
  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message, :class => 'input-xxlarge', :rows => 3 %>
  </div>
  <label class="checkbox">
    <%= f.check_box :opt_in, :checked => true %> <%= translate('labels.opt_in') %>
  </label>
  <div class="form-actions">
    <%= f.submit translate('labels.send'), :class => 'btn btn-primary' %>
  </div>
<% end %>
